*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
main.pdf
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
*.bcf 
*.run.xml
preview-macros.tex
__latexindent_temp.tex